# Prepatation

## Instaling Libararies

In [14]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from scipy.optimize import minimize
import cvxpy as cp
import pytz
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.seasonal import STL
import seaborn as sns
# from sklearn.model_selection import TimeSeriesSplit
import statsmodels.tsa.api as smt
from copy import deepcopy
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import arma_order_select_ic
import warnings
warnings.filterwarnings("ignore")
import statsmodels.tools.eval_measures
import scipy 
from scipy import stats
import time
from matplotlib.dates import DateFormatter
from matplotlib.dates import YearLocator, DateFormatter
from statsmodels.tsa.api import VAR

In [17]:
df_main = pd.read_excel('./RAW_DATA.xlsx')

# Data Formatting

In [19]:
df_main.head(10)

  Unnamed: 0      BTCUSD Unnamed: 2        DXY Unnamed: 4      SPX
0 2014-09-17  457.334015 2014-09-17  84.699997 2014-09-17  2001.57
1 2014-09-18  424.440002 2014-09-18  84.320000 2014-09-18  2011.36
2 2014-09-19  394.795990 2014-09-19  84.800003 2014-09-19   2010.4
3 2014-09-20  408.903992 2014-09-21        NaN 2014-09-22  1994.29
4 2014-09-21  398.821014 2014-09-22  84.669998 2014-09-23  1982.77
5 2014-09-22  402.152008 2014-09-23  84.660004 2014-09-24   1998.3
6 2014-09-23  435.790985 2014-09-24  85.050003 2014-09-25  1965.99
7 2014-09-24  423.204987 2014-09-25  85.199997 2014-09-26  1982.85
8 2014-09-25  411.574005 2014-09-26  85.639999 2014-09-29   1977.8
9 2014-09-26  404.424988 2014-09-28        NaN 2014-09-30  1972.29

# Data Analysis