# Prepatation

## Instaling Libararies

In [14]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from scipy.optimize import minimize
import cvxpy as cp
import pytz
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.seasonal import STL
import seaborn as sns
# from sklearn.model_selection import TimeSeriesSplit
import statsmodels.tsa.api as smt
from copy import deepcopy
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import arma_order_select_ic
import warnings
warnings.filterwarnings("ignore")
import statsmodels.tools.eval_measures
import scipy 
from scipy import stats
import time
from matplotlib.dates import DateFormatter
from matplotlib.dates import YearLocator, DateFormatter
from statsmodels.tsa.api import VAR

In [17]:
df_main = pd.read_excel('./RAW_DATA.xlsx')

     Unnamed: 0        BTCUSD Unnamed: 2        DXY Unnamed: 4      SPX
0    2014-09-17    457.334015 2014-09-17  84.699997 2014-09-17  2001.57
1    2014-09-18    424.440002 2014-09-18  84.320000 2014-09-18  2011.36
2    2014-09-19    394.795990 2014-09-19  84.800003 2014-09-19   2010.4
3    2014-09-20    408.903992 2014-09-21        NaN 2014-09-22  1994.29
4    2014-09-21    398.821014 2014-09-22  84.669998 2014-09-23  1982.77
...         ...           ...        ...        ...        ...      ...
3332 2023-11-01  35437.253906        NaT        NaN        NaT      NaN
3333 2023-11-02  34938.242188        NaT        NaN        NaT      NaN
3334 2023-11-03  34732.324219        NaT        NaN        NaT      NaN
3335 2023-11-04  35082.195313        NaT        NaN        NaT      NaN
3336 2023-11-05  35081.945313        NaT        NaN        NaT      NaN

[3337 rows x 6 columns]

# Data Formatting

# Data Analysis